

/*
@keyframes dateAni {
    0% {color: magenta;}
    25% {color: blue;}
    50% {color: salmon;}
    100% {color: black;}
}
*/

.currentDate {
    margin: 2px;
    padding: 2px;
    display: flex;
    outline-style: dotted;
    outline-width: thin;
    outline-color: grey;
    width: 100%;
    justify-content: space-between;
    text-transform: initial;
    text-shadow: royalblue;
    text-decoration-line: underline;
    cursor: wait;
    font-family: monospace;
    font-weight: bolder;
   /* 
    animation-name: dateAni;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    */
}

